div {
  text-align: center;
}

input {
  font-size: 3rem;
  text-align: center;
}

h1{
  font-size: 3rem;
  color: cornflowerblue;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  font-size: 2rem;
  list-style: none;
}
span.true {
  color: green;
}
span.false{
  color: red;
  font-weight: 600;
}
