div {
  text-align: center;
}

input {
  font-size: 3rem;
  text-align: center;
  max-width: 100%;
}

h1{
  clear: both;
  font-size: 3rem;
  color: cornflowerblue;
  text-align: center;
  margin-bottom: 0.2rem;
}

.score {
  font-size: 3.6rem;
  height: 5rem;
  color: cornflowerblue;
  margin: 0px;
}

.scoreCaption{
  font-size: 1.8rem;
  font-weight: 600;
  color: #aaaaaa;
}

.scoreContainer{
  text-align: center;
  float: left;
  margin: 0 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  text-align: center;
  padding: 0;
  margin-top: 60px;
}

li {
  font-size: 2rem;
  list-style: none;
}
span.true {
  color: green;
}
span.false{
  color: red;
  font-weight: 600;
}

#resetContainer{
  margin-top: 80px;
  text-align: center;
}
